<!-- footer begin -->
<footer>
  <div class="container">
    <div class="row gx-5">
      <div class="col-lg-4 col-sm-6">
        <img src="images/auto-gems-logo.png" style="margin: -65px 15px;" class="logo-footer" alt="">
        <div class="spacer-20"></div>
        <p>At <strong>AutoGemz</strong>, we redefine luxury on wheels. From premium sedans to high-end SUVs, we bring you the finest selection of luxury cars with trust, transparency, and top-tier service. Whether you're buying, selling, or importing.</p>
        <div class="social-icons mb-sm-30">
          <a href="https://www.facebook.com/share/1AEzvHMQFG/?mibextid=wwXIfr" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/autogemz.pk?igsh=MTBiZjd6OTBheHA3bQ==" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-sm-12 order-lg-1 order-sm-2">
        <div class="row">
          <div class="col-lg-5">
            <div class="widget">
              <h5>Company</h5>
              <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/about">About Us</a></li>
                <li><a routerLink="/contact">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="widget">
              <h5>Our Services</h5>
              <ul>
                <li><a routerLink="/car-inspection">Car Inspection</a></li>
                <li><a routerLink="/car-import">Car Import</a></li>
                <li><a routerLink="/car-documentation">Car Documentation</a></li>
                <li><a routerLink="/investment-opportunity">Investment Opportunity</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 order-lg-2 order-sm-1">
        <div class="widget">
          <h5>Contact Us</h5>
          <div class="fw-bold text-white">
            <i class="icofont-location-pin me-2 id-color"></i>Head Office
          </div>
          Building No, 140 Main Blvd, Phase 4 Civic Center Bahria Town, Islamabad
          <div class="spacer-20"></div>
          <div class="fw-bold text-white">
            <i class="icofont-phone me-2 id-color"></i>Call Us
          </div>
          <a href="tel:+923341111167"> +92 334 1111 167</a>
          <div class="spacer-20"></div>
          <div class="fw-bold text-white">
            <i class="icofont-envelope me-2 id-color"></i>Email Us
          </div>
          <a href="mailto:info@autogemz.com">info@autogemz.com</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer end -->
