<!-- content begin -->
<div class="no-bottom no-top" id="content">
  <div id="top"></div>

  <section class="bg-dark text-light relative jarallax">
    <div class="de-gradient-edge-top"></div>
    <img src="images/background/breadcrumb.png" class="jarallax-img" alt="">
    <div class="container relative z-2">
      <div class="row gy-4 gx-5 justify-content-center">
        <div class="col-lg-12 text-center">
          <div class="spacer-double sm-hide"></div>
          <h1 class="mb-3 wow fadeInUp" data-wow-delay=".2s">Contact</h1>
          <div class="border-bottom mb-3"></div>
          <ul class="crumb wow fadeInUp">
            <li><a routerLink="/">Home</a></li>
            <li class="active">Contact</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="sw-overlay"></div>
  </section>

  <section>
    <div class="container">
      <div class="row g-4 justify-content-between">
        <div class="col-lg-6">
          <div class="p-40 h-100 jarallax rounded-1 overflow-hidden">
            <img src="images/background/CONTACT.png" class="jarallax-img" alt="">
            <div class="sw-overlay"></div>
            <div class="gradient-edge-bottom h-80"></div>
            <div class="relative z-2">
              <div class="subtitle">Get In Touch</div>
              <h2 class="wow fadeInUp">We are always ready to help you</h2>
              <p>Whether you have a question, a suggestion, or just want to say hello, this is the place to do it. Please fill out the form below with your details and message, and we'll get back to you as soon as possible.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="p-40 bg-dark-2 text-light rounded-1">
            <h3>Get In Touch</h3>
            <form (ngSubmit)="onSubmit()" #contactForm="ngForm" class="relative z1000">
              <div class="field-set">
                <input type="text" name="name" class="form-control" placeholder="Your Name" [(ngModel)]="formData.name" required>
              </div>
              <div class="field-set">
                <input type="email" name="email" class="form-control" placeholder="Your Email" [(ngModel)]="formData.email" required>
              </div>
              <div class="field-set">
                <input type="text" name="phone" class="form-control" placeholder="Your Phone" [(ngModel)]="formData.phone" required>
              </div>
              <div class="field-set mb20">
                <textarea name="message" class="form-control" placeholder="Your Message" [(ngModel)]="formData.message" required></textarea>
              </div>
              <div id="submit" class="mt20">
                <input type="submit" value="Send Message" class="btn-main" [disabled]="submitting">
              </div>
              <div *ngIf="successMessage" class="success mt-3">
                Your message has been sent successfully. Refresh this page if you want to send more messages.
              </div>
              <div *ngIf="errorMessage" class="error mt-3">
                Sorry there was an error sending your form.
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="spacer-double"></div>
    </div>
  </section>
</div>
<!-- content end -->
