<!-- overlay content begin -->
<div id="extra-wrap" class="text-light">
  <div id="btn-close">
    <span></span>
    <span></span>
  </div>

  <div id="extra-content">
    <img src="images/auto-gems-logo.png" class="w-150px" alt="">

    <div class="spacer-30-line"></div>

    <h5>Our Services</h5>
    <ul class="ul-check">
      <li><a routerLink="/car-inspection">Car Inspection</a></li>
      <li><a routerLink="/car-import">Car Import</a></li>
      <li><a routerLink="/car-documentation">Car Documentation</a></li>
      <li><a routerLink="/investment-opportunity">Investment Opportunity</a></li>
    </ul>

    <div class="spacer-30-line"></div>

    <h5>Contact Us</h5>
    <div><i class="icofont-clock-time me-2 op-5"></i>Monday - Saturday 10:00 - 10:00</div>
    <div><i class="icofont-location-pin me-2 op-5"></i> Building No, 140 Main Blvd, Phase 4 Civic Center Bahria Town, Islamabad</div>
    <div><i class="icofont-envelope me-2 op-5"></i>info@autogemz.com</div>

    <div class="spacer-30-line"></div>

    <h5>About Us</h5>
    <p>At AutoGemz, we redefine luxury on wheels. From premium sedans to high-end SUVs, we bring you the finest selection of luxury cars with trust, transparency, and top-tier service. Whether you're buying, selling, or importing.</p>

    <div class="social-icons">
      <a href="https://www.facebook.com/share/1AEzvHMQFG/?mibextid=wwXIfr" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/autogemz.pk?igsh=MTBiZjd6OTBheHA3bQ==" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    </div>
  </div>
</div>
<!-- overlay content end -->
